

.roboto-custom {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Replace with desired weight, e.g., 100–900 */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*{
  margin: 0;
  font-family: 'Roboto', 'sans-serif';
}